<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahomehk.constructioncity" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SearchableActivity"
            android:label="@string/search_result"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithoutLogo" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.ahomehk.constructioncity.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".NavigateItemsActivity"
            android:label="@string/title_activity_main_activity2"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithoutLogo" >
            <intent-filter>
                <action android:name="com.ahomehk.constructioncity.MAINACTIVITY2ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_activity_item_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithoutLogo" >
            <intent-filter>
                <action android:name="com.ahomehk.constructioncity.ITEMDETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".ProductRecyclerActivity"
            android:label="@string/title_activity_product_list" >
        </activity>
        <activity
            android:name=".ZoomableActivity"
            android:label="@string/title_activity_zoomable"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SimilarProductActivity"
            android:label="@string/title_activity_similar_product" >
        </activity>
    </application>

</manifest>
